#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        modtap: mt {
            compatible = "zmk,behavior-hold-tap";
            label = "modtap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            require-prior-idle-ms = <125>;
            flavor = "tap-preferred";
        };

        hrm_pinky: hrm_pinky {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_PINKY";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <260>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };

        hrm_ring: hrm_ring {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_RING";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75>;
            tapping-term-ms = <240>;
            quick-tap-ms = <300>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        capslock {
            bindings = <&kp CAPS>;
            key-positions = <46 59>;
        };
    };

    macros {
        h1: h1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp H &kp N1 &kp GT &kp LT &kp FSLH &kp H &kp N1 &kp GT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "H1";
        };

        h2: h2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp H &kp NUMBER_2 &kp GT &kp LT &kp FSLH &kp H &kp NUMBER_2 &kp GT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "H2";
        };

        h3: h3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp H &kp NUMBER_3 &kp GT &kp LT &kp FSLH &kp H &kp NUMBER_3 &kp GT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "H3";
        };

        div_class: div_class {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp D &kp I &kp V &kp SPACE &kp C &kp L &kp A &kp S &kp S &kp EQUAL &kp DOUBLE_QUOTES &kp DOUBLE_QUOTES &kp GT &kp LT &kp FSLH &kp D &kp I &kp V &kp GT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "DIV_CLASS";
        };

        class: class {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp L &kp A &kp S &kp S &kp EQUAL &kp DOUBLE_QUOTES &kp DOUBLE_QUOTES>;
            label = "CLASS";
        };

        ahref: ahref {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp A &kp SPACE &kp H &kp R &kp E &kp F &kp EQUAL &kp DOUBLE_QUOTES &kp DOUBLE_QUOTES &kp SPACE &kp C &kp L &kp A &kp S &kp S &kp EQUAL &kp DOUBLE_QUOTES &kp DOUBLE_QUOTES &kp GREATER_THAN &kp LESS_THAN &kp SLASH &kp A &kp GREATER_THAN &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "AHREF";
        };

        p: p {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp P &kp GREATER_THAN &kp LESS_THAN &kp SLASH &kp P &kp GREATER_THAN &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "P";
        };

        br: br {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp B &kp R &kp SLASH &kp GREATER_THAN>;
            label = "BR";
        };

        span: span {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN &kp S &kp P &kp A &kp N &kp GREATER_THAN &kp LESS_THAN &kp SLASH &kp S &kp P &kp A &kp N &kp GREATER_THAN &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "SPAN";
        };

        hyper: hyper {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT &kp LEFT_CONTROL &kp LEFT_COMMAND>,
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT &kp LEFT_CONTROL &kp LEFT_COMMAND>;

            label = "HYPER";
        };

        meh: meh {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp LEFT_ALT &kp LEFT_CONTROL>,
                <&macro_tap>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_release>,
                <&kp LEFT_SHIFT &kp LEFT_ALT &kp LEFT_CONTROL>;

            label = "MEH";
        };

        record_screen: record_screen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_COMMAND &kp LEFT_ALT &kp LEFT_CONTROL>,
                <&macro_press>,
                <&kp R>,
                <&macro_release>,
                <&kp LEFT_COMMAND &kp LEFT_ALT &kp LEFT_CONTROL>;

            label = "RECORD_SCREEN";
        };

        screenshot: screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_COMMAND &kp LEFT_ALT &kp LEFT_SHIFT>,
                <&macro_press>,
                <&kp C>,
                <&macro_release>,
                <&kp LEFT_COMMAND &kp LEFT_ALT &kp LEFT_SHIFT>;

            label = "SCREENSHOT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&screenshot   &kp N1                     &kp N2                &kp N3                  &kp N4                &kp N5                              &tog 1                                                                                                       &mo 3              &kp N6                               &kp N7                 &kp N8                   &kp N9                 &kp N0                              &record_screen
&kp SPACE     &kp Q                      &kp W                 &kp E                   &kp R                 &kp T                               &none                                                                                                        &kp C_VOLUME_UP    &kp Y                                &kp U                  &kp I                    &kp O                  &kp P                               &kp MINUS
&kp CAPSLOCK  &hrm_pinky LEFT_CONTROL A  &hrm_ring LEFT_ALT S  &modtap LEFT_COMMAND D  &lt 6 F               &kp G                               &none            &modtap LCTRL LS(TAB)  &kp LALT           &modtap LGUI RA(RG(RC(V)))  &modtap RCTRL TAB     &kp C_VOLUME_DOWN  &kp H                                &kp J                  &modtap RIGHT_COMMAND K  &hrm_ring RIGHT_ALT L  &hrm_pinky RIGHT_CONTROL SEMICOLON  &kp SQT
&kp LSHFT     &kp Z                      &kp X                 &kp C                   &modtap LEFT_SHIFT V  &modtap LS(LA(LC(LEFT_COMMAND))) B                                          &kp HOME           &kp PG_UP                                                            &modtap RS(RA(RC(RIGHT_COMMAND))) N  &modtap RIGHT_SHIFT M  &kp COMMA                &kp DOT                &kp FSLH                            &kp BACKSLASH
&mo 2         &kp GRAVE                  &kp LC(UP)            &kp LC(LEFT)            &kp LC(RIGHT)                                             &lt 4 BACKSPACE  &lt 7 ESC              &kp LG(SLASH)      &kp PAGE_DOWN               &modtap RSHIFT ENTER  &lt 5 SPACE                                             &kp LEFT               &kp DOWN                 &kp UP_ARROW           &kp RIGHT                           &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                   &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                    &none      &kp Y   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        numbers {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans       &trans                                                 &trans  &trans        &trans         &trans        &trans                &trans                 &trans
&trans  &kp EXCL      &kp AT_SIGN   &kp HASH      &kp DOLLAR    &kp PERCENT  &trans                                                 &trans  &kp CARET     &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5       &trans  &trans  &trans      &kp C_VOLUME_UP    &trans  &trans  &kp NUMBER_6  &kp NUMBER_7   &kp NUMBER_8  &kp NUMBER_9          &kp NUMBER_0           &trans
&trans  &trans        &trans        &kp SLASH     &kp MINUS     &trans                       &trans      &kp C_VOLUME_DOWN                  &trans        &kp PLUS       &kp ASTERISK  &trans                &trans                 &trans
&trans  &trans        &trans        &trans        &trans                     &trans  &trans  &trans      &kp C_MUTE         &trans  &trans                &trans         &trans        &trans                &trans                 &trans
            >;
        };

        symbols {
            bindings = <
&trans  &trans           &trans                &trans             &trans          &trans         &trans                                                &trans  &trans            &trans             &trans          &trans                 &trans     &trans
&trans  &kp EXCLAMATION  &kp AT_SIGN           &kp HASH           &kp DOLLAR      &kp PERCENT    &trans                                                &trans  &kp CARET         &kp AMPERSAND      &kp ASTERISK    &kp BACKSLASH          &kp PIPE   &trans
&trans  &kp TILDE        &kp LEFT_PARENTHESIS  &kp MINUS          &kp COLON       &kp SLASH      &trans  &trans  &kp C_PLAY_PAUSE      &trans  &trans  &trans  &kp QUESTION      &kp DOUBLE_QUOTES  &kp UNDERSCORE  &kp RIGHT_PARENTHESIS  &kp EQUAL  &trans
&trans  &kp GRAVE        &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp BACKSLASH                  &kp C_PREV            &trans                  &kp SINGLE_QUOTE  &kp RIGHT_BRACE    &kp LESS_THAN   &kp GREATER_THAN       &trans     &trans
&trans  &trans           &trans                &trans             &trans                         &trans  &trans  &kp C_NEXT            &trans  &trans  &trans                    &trans             &trans          &trans                 &trans     &trans
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                                       &trans     &trans          &trans                    &trans                     &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                                       &trans     &kp RA(B)       &kp RS(RG(SPACE))         &kp RS(RG(J))              &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &msc SCRL_RIGHT  &msc SCRL_LEFT  &trans     &kp LEFT        &kp DOWN                  &kp UP                     &kp RIGHT        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &msc SCRL_DOWN                              &mmv MOVE_LEFT  &mmv MOVE_DOWN            &mmv MOVE_UP               &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &msc SCRL_UP     &mkp RCLK       &mkp LCLK                  &kp RG(RS(LEFT_BRACKET))  &kp RS(RG(RIGHT_BRACKET))  &trans           &trans  &trans
            >;
        };

        macros {
            bindings = <
&trans  &h1        &h2        &h3        &div_class  &ahref  &trans                                           &trans         &trans  &trans            &trans                &trans            &trans             &trans
&trans  &trans     &trans     &trans     &kp LG(R)   &trans  &trans                                           &trans         &span   &trans            &trans                &kp RG(RS(P))     &trans             &trans
&trans  &kp LG(A)  &kp LG(S)  &kp LG(D)  &kp LG(F)   &trans  &trans  &trans  &trans      &trans  &kp RG(TAB)  &trans         &p      &kp RA(RS(DOWN))  &kp RS(RA(UP_ARROW))  &kp RC(RG(LEFT))  &kp RC(RG(RIGHT))  &trans
&trans  &kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)   &trans                  &trans      &trans                              &br     &kp RA(DOWN)      &kp RA(UP_ARROW)      &kp RA(RG(LEFT))  &kp RA(RG(RIGHT))  &trans
&trans  &trans     &trans     &trans     &trans              &trans  &trans  &trans      &trans  &trans       &kp RG(SPACE)          &kp RA(RG(DOWN))  &kp RG(RA(UP_ARROW))  &kp RG(U)         &trans             &trans
            >;
        };

        layer_8 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
